.lobster {
    font-family: 'Lobster Two', cursive;
}

.text-center {
    text-align: center;
    color: white;
  }

  .white {
      color:white;
  }
  .conditions {
      align:left;
      margin-left: 50px;
      font-size:30px;

  }

  .big {
    font-size: 80px;
}

.small {
    font-size: 20px;
    font-family: 'Helvetica'
    color:white;
}

.weather-img {
    width:300px;
    height:300px;
}

.icon {
    background-color:transparent;
    opacity: 50%;
    width:200px;
    height:200px;
}

.temperature-class {
    font-size: 100px;   
}

.HumidityClass {
    font-size:30px;
    text-align:center;
}

.tempHiLo {
    font-size:40px;
    text-align:center;
}
.logo {
    position:absolute;
left:0;
top:0;
margin-left:4px;
}
